body { /*mudando a formatação do corpo do htl*/
    background-color: #fffffff;

}
.cabecalho{
    background-color: #ff0000;
    border-radius: 0px 0px 200px 200px;
}
.cabecalho__imagem{
    width: 155;
    height: 140;
    border-radius: 600px;
    display: inline;
}
.cabecalho__titulo_site{
    display: inline;
}
.cabecalho__quebra{
    display: inline;
}